<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form></form>
    <ion-card-header>
      <ion-card-tittle>Ingresa tu nombre de usuario</ion-card-tittle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="goToInicio()">Recuperar</ion-button>
    </ion-card-content>
  </ion-card>
  <center> <img width="200" height="200" src="../assets/app.png"></center>

</ion-content>
