<ion-header>
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>bienvenido </ion-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <div id="container">
    <ion-button [routerLink]="['/']" class="btn">Necesito un viaje</ion-button>
    <ion-button [routerLink]="['/programar']" class="btn">programa un viaje</ion-button>
  </div>
  <center> <img width="200" height="200" src="../assets/app.png"></center>


</ion-content>
