<ion-header>
  <ion-toolbar> 
    <ion-title>Iniciar sesion</ion-title>
    <ion-buttons left>
      <ion-button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../assets/app.png">
  </div>
  <div > 
  <form (ngSubmit)="login()" [formGroup]="loginUsuario">
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
    <ion-button [routerLink]="['/principal']" type="submit" color='dark' expand='block'>
      Iniciar sesion</ion-button>

      <p color="primary"  class="mt-3">No tienes cuenta? <a [routerLink]="['/registro']" href="">Registrarse</a> </p>
      <a [routerLink]="['/recuperar']" class="mt-3" href="">Recuperar Contraseña</a>
      
  </form>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>

