<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div>
    <app-carga></app-carga>
    <h1>Registrarse</h1>
      <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" class="formControlName" placeholder="name@example.com"  formControlName="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" class="form-control" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input type="password" class="form-control" placeholder="Repetir Password" formControlName="repetirPassword"></ion-input>
        </ion-item>
        <br>
        <ion-button class="mb-3" expand='block' type="submit">Aceptar
        </ion-button>
        <br>
        <br>
        <a routerLink="/inicio">volver</a>
      </form> 
    </div>
  <center> <img width="200" height="200" src="../assets/app.png"></center>
</ion-content>
