<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-tittle>Registro</ion-card-tittle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">Registrarse
        </ion-button>
      </form>
      
      
    </ion-card-content>
  </ion-card>
  <center> <img width="200" height="200" src="../assets/app.png"></center>
</ion-content>
